{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": "airbnb-base",
    "globals": {
        "document": true,
        "console": true,
        "window": true,
        "Audio": true
    },
    "rules": {
        "no-console": "off"
    }
}